Automatizacion_Ofertas.json
{
  "name": "Automatizacion-Ofertas",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "c076f9b4-92ad-41fc-a11f-5f60f22e36c7",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://remoteok.io/api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "b8bef88c-b1f9-41b2-8a47-c6a625782fce",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Lista de palabras clave a buscar (en minúsculas)\nconst keywords = ['javascript', 'node.js', 'full stack'];\n\n// items es el array de ofertas del nodo anterior\nreturn items\n  .filter(item => {\n    // Asegúrate de que `item.json.position` es el título\n    const title = (item.json.position || '').toLowerCase();\n    return keywords.some(keyword => title.includes(keyword));\n  })\n  .map(item => {\n    // Devolver solo los datos relevantes\n    return {\n      json: {\n        title: item.json.position,\n        company: item.json.company,\n        url: item.json.url\n      }\n    };\n  });\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "af30178b-c118-4ec4-92b8-749a46d072f4",
      "name": "Code"
    },
    {
      "parameters": {
        "sendTo": "jh0693530@gmail.com",
        "subject": "=Resumen diario de ofertas freelance",
        "message": "={{$json[\"html\"]}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        860,
        0
      ],
      "id": "2c11e8e9-07bc-4b76-a91e-0b13fa7bc4c6",
      "name": "Gmail",
      "webhookId": "3e2f5b2a-9f6a-4f2f-b393-c15c823b9fb0",
      "credentials": {
        "gmailOAuth2": {
          "id": "PtBfHy2xPV5l7fuL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// items ya viene filtrado (cada item tiene title, company, url)\n// Construimos filas de tabla\nconst rows = items.map(item => `\n  <tr>\n    <td>${item.json.title}</td>\n    <td>${item.json.company}</td>\n    <td><a href=\"${item.json.url}\">Ver oferta</a></td>\n  </tr>\n`).join('');\n\n// Construimos el HTML completo\nconst html = `\n  <h2>Resumen diario de ofertas freelance</h2>\n  <table border=\"1\" cellpadding=\"5\" cellspacing=\"0\">\n    <thead>\n      <tr>\n        <th>Título</th>\n        <th>Empresa</th>\n        <th>Enlace</th>\n      </tr>\n    </thead>\n    <tbody>\n      ${rows || '<tr><td colspan=\"3\">No hay ofertas nuevas hoy</td></tr>'}\n    </tbody>\n  </table>\n`;\n\n// Devolvemos un solo item con todo el HTML\nreturn [{ json: { html } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ],
      "id": "62a1c9f7-f7d6-4b18-af8a-4fa52069b6c8",
      "name": "GroupOfOffers"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "GroupOfOffers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GroupOfOffers": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1c73d58a-58dc-4b7a-8024-fac35e73f002",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "df9360e9ae6fcab6c98ac6a313ab93fa300ff4f60c6d1857f4370da87bd02bc7"
  },
  "id": "8kw2dBJGSHZpstVD",
  "tags": []
}